<% provide :title, t("manage_users") %>

<%= render "shared/admin_header" %>

<%= render "shared/admin_sidenav" %>

<main role="main">
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user_path %>
      </li>
    <% end %>
  </ul>
  <%= paginate @users,
    theme: "twitter-bootstrap-4",
    left: 1,
    right: 3
  %>
</main>
