<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

</head>

<body>
<script type="text/javascript">
  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }

  (function foo() {
    CrossStorageHub.init([
      {origin: /.*/,            allow: ['get']},
      {origin: /.*/, allow: ['get', 'set', 'del']}
    ]);

    let test = getCookie('jwt_access')
    const jwt_access = JSON.parse(JSON.stringify(test))
    localStorage.setItem('jwt_access', jwt_access)
    window.close()
  }())
</script>
</body>
</html>
